extends layout

block content
    if authorized === true
        p Hello, #{name}!
        p Your name is #{nameLen} letters long.
    else
        p #{string}
        form(action='/ps3/new-user', method='POST')
            p
                | Name:
                input(type='text', name='name', value='')
            input(type='submit', value='Submit')
